<%- include("../partials/head", { title: "Add student to subject" }) %>
  <body>
    <h3>Add student to subject: <%= subject.name %></h3>
    <% const selectTeacherHtml = htmlHelper.getSelectIdCodeFromArr(teachers, "teacherId", "name", "teacherControl", "form-control", subject.teacherId); %>
    <% const selectStudentHtml = htmlHelper.getSelectIdCodeFromArr(students, "studentId", "name", "studentControl", "form-control"); %>
    <form action="/subjects/view/<%= subject.id %>/addstudent" method="POST">
        <div>
            <label for="studentControl" class="form-label">Students available in school: <%= school.name %> </label>
            <%- selectStudentHtml %>
        </div>
        <div>
        <label for="schoolControl" class="form-label">School: <%= school.name %></label>
        <input type="hidden" name="schoolId" value="<%= school.id %>">
        </div>
        <div>
            <label for="subjectControl" class="form-label">Subject: <%= subject.name %></label>
            <input type="hidden" name="subjectId" value="<%= subject.id %>">
        </div>
        <div>
            <label for="teacherControl" class="form-label">Teachers available in school: <%= school.name %> </label>
            <%- selectTeacherHtml %>
        </div>
      <button type="submit" class="btn">Add student to subject: <%= subject.name %></button>
    </form>
    <%- include("../partials/footer", { title: "Add student to subject" }) %>

  </body>
</html>