<%- include("../partials/head", { title: "Admin add subject" }) %>
  <body>
    <h2>Admin Add subject</h2>
    <%- include("../partials/navbar", { user }) %>
    <% let selectTeacherHtml = htmlHelper.getSelectIdCodeFromArr(teachers, "teacherId", "name", "teacherControl", "form-control") %>
    <% let selectSchoolHtml = htmlHelper.getSelectIdCodeFromArr(schools, "schoolId", "name", "schoolControl", "form-control") %>
    <form action="/subjects/add" method="POST">
        <div>
            <label for="nameControl" class="form-label">Name: </label>
            <input type="text" id="nameControl" class="form-control" name="name"/>
        </div>
        <div>
            <label for="descriptionControl" class="form-label">Description: </label>
            <input type="text" id="descriptionControl" class="form-control" name="description"/>
        </div>
        <div>
          <label for="teacherControl" class="form-label">Teacher: </label>
          <%- selectTeacherHtml %>
        </div>
        <div>
          <label for="schoolControl" class="form-label">School: </label>
          <%- selectSchoolHtml %>
        </div>
        <button type="submit" class="btn">Save subject</button>
    </form>
    <%- include("../partials/footer", { title: "Admin add subject" }) %>

  </body>
</html>
