<%- include("../../partials/head", { title: "Admin: Schools List" }) %>
<body>
    <h3>Admin: users list</h3>
    <%- include("../../partials/navbar", {user}) %>

    <p>
        <% if (schools) {%>
            <table class="table">
                <tr>
                    <th>_id</th>
                    <th>name</th>
                    <th>director</th>
                    <th>actions</th>
                </tr>
                <% for (let i=0; i < schools.length; i++) { %>
                    <tr>
                        <td><%= schools[i].id %></td>
                        <td><%= schools[i].name %></td>
                        <td><%= htmlHelper.getElValueFromArrById(directors, schools[i].directorId, "name") %></td>
                        <td>
                            <%- htmlHelper.getLinkCodeForUserRoleOrHigher(user.role, "admin", "/admin/schools/view/"+ schools[i].id, "view" ) %>
                            &nbsp;
                            <%- htmlHelper.getLinkCodeForUserRoleOrHigher(user.role, "admin", "/admin/schools/edit/"+ schools[i].id, "edit" ) %>
                            <!-- <a href="/admin/schools/edit/<%= schools[i].id %>">edit</a>
                            <a href="/admin/schools/view/<%= schools[i].id %>">view</a> -->
                        </td>
                    </tr>

                <% } %>
            </table>
        <% } %>
    </p>
    <a href="/admin/schools/add" class="btn">Add school</a>
    <%- include("../../partials/footer", { title: "Admin School List" }) %>

</body>
</html>