<%- include("../../partials/head", { title: "Admin view school" }) %>
  <body>
    <h2>Admin View School with id: <%= schoolToView.id %></h2>
    <%- include("../../partials/navbar", { user }) %>
    <form action="/admin/schools/view/<%= schoolToView.id %>" method="POST">
        <div>
            <label for="nameControl" class="form-label">Name: </label>
            <input type="text" id="nameControl" class="form-control" name="name" value="<%= schoolToView.name %>" disabled/>
        </div>
        <div>
          <label for="addressControl" class="form-label">Address: </label>
          <input type="text" id="addressControl" class="form-control" name="address" value="<%= schoolToView.address %>" disabled/>
        </div>
        <div>
          <label for="directorControl" class="form-label">Director: </label>
          <%= htmlHelper.getElValueFromArrById(directors, schoolToView.directorId, "name") %>
        </div>
    </form>
    <a href="/admin/schools/edit/<%= schoolToView.id %>" class="btn">Edit School</a>
    <br><br>

    <p>
        <h3>Subjects: </h3>
        <% const subjects = schoolToView["Subjects"] %>
        <% if (subjects) { %>
          <table>
            <tr>
              <td>subject id</td>
              <td>name</td>
              <td>teacher</td>
              <td>actions</td>
            </tr>
            <% for (let i = 0; i < subjects.length; i++) {%>
                <% const subject = subjects[i] %>
                <tr>
                  <td><%= subject.id %></td>
                  <td><%= subject.name %></td>
                  <td><%= subject["teacher"]?.name %></td>
                  <td>
                      <a href="/subjects/view/<%= subject.id %>">view subject</a>
                  </td>
                </tr>
            <%}%>
          </table> 
        <% } %>

    </p>
    <a href="/admin/schools/view/<%= schoolToView.id %>/addsubject" class="btn">
      Add <b>subject</b> to school: <%= schoolToView.name %>
    </a>
    <br><br>

    <p>
        <h3>Teahers: </h3>
        <% if (teachers) { %>
          <table>
            <tr>
              <td>teacher id</td>
              <td>name</td>
              <td>surname</td>
              <td>role</td>
              <td>actions</td>
            </tr>
            <% for (let i = 0; i < teachers.length; i++) {%>
                <% const teacher = teachers[i] %>
                <tr>
                  <td><%= teacher.id %></td>
                  <td><%= teacher.name %></td>
                  <td><%= teacher.surname %></td>
                  <td><%= teacher.role %></td>
                  <td>
                      <a href="/admin/users/view/<%= teacher.id %>">view teacher</a>
                  </td>
                </tr>
            <%}%>
          </table> 
        <% } %>

    </p>
    <a href="/admin/schools/view/<%= schoolToView.id %>/addteacher" class="btn">
      Add <b>teacher</b> to school: <%= schoolToView.name %>
    </a>


    <%- include("../../partials/footer", { title: "Admin View school" }) %>
  </body>
</html>