<%- include("../../partials/head", { title: "Admin: add teacher" }) %>
  <body>
    <h3>Admin: add user</h3>
    <%- include("../../partials/navbar", {user}) %>

    
    <form action="/admin/schools/view/<%= school.id %>/addteacher" method="POST">
      <div>
        <label for="nameControl" class="form-label">Name: </label>
        <input type="text" id="nameControl" class="form-control" name="name" required/>
    </div>
    <div>
      <label for="surnameControl" class="form-label">Surame: </label>
      <input type="text" id="surnameControl" class="form-control" name="surname" required/>
    </div>
    <div>
      <label for="emailControl" class="form-label">Email: </label>
      <input type="email" id="emailControl" class="form-control" name="email"/>
    </div>
    <div>
      <label for="passwordControl" class="form-label">Password: </label>
      <input type="password" id="passwordControl" class="form-control" name="password"/>
    </div>
    <div>
      <label for="roleControl" class="form-label">Role: teacher </label>
        <input type="hidden" name="role" value="teacher">
    </div>
    <div>
      <label for="ageControl" class="form-label">Age: </label>
      <input type="number" min="18" max="100" id="ageControl" class="form-control" name="age"/>
  </div>
    <div>
      <label for="addressControl" class="form-label">Address: </label>
      <input type="addresss" id="addressControl" class="form-control" name="address"/>
    </div>
    <div>
      <label for="schoolControl" class="form-label">School:<%= school.name %> </label>
      <input type="hidden" name="schoolId" value="<%= school.id%>" >
    </div>
      <button type="submit" class="btn">Save user</button>
    </form>
    <%- include("../../partials/footer", { title: "Admin: add teacher" }) %>

  </body>
</html>
