<%- include("../partials/head", {title: "View Grade"}) %> 
<body>
    <h3>View grade with id: <%= gradeToView.id %></h3>
    <%- include("../partials/navbar", {user}) %>

    <form action="/grades/view/<%= gradeToView.id %>" method="post">
        <input type="hidden" value="<%= gradeToView.id %>">
        <div>
            <label for="gradeControl" class="form-label">Grade: </label>
            <input type="number" min="1" max="6" step="0.5" name="grade" disabled class="form-control" id="gradeControl" value="<%= gradeToView.grade %>">
        </div>
        <div>
            <label for="descriptionControl" class="form-label">Description: </label>
            <input type="text" name="description" class="form-control" id="descriptionControl" disabled value="<%= gradeToView.description %>">
        </div>
        <div>
            <label for="schoolControl" class="form-label">School: </label>
            <%=  gradeToView["School"]?.name %>
        </div>
        <div>
            <label for="subjectControl" class="form-label">Subject: </label>
            <%= gradeToView["Subject"]?.name%>
        </div>
        <div>
            <label for="teacherControl" class="form-label">Teacher: </label>
            <%= gradeToView["teacher"]?.name%>
        </div>
        <div>
            <label for="studentControl" class="form-label">Student: </label>
            <%= gradeToView["User"]?.name%>
        </div>
        
    </form>
    <a href="/grades/edit/<%=gradeToView.id%>" class="btn">Edit grade</a>
    <%- include("../partials/footer", {title: "View Grade"}) %>
</body>
</html>